CREATE DATABASE motel_management;
USE motel_management;
GO

CREATE TABLE Users (
    UserID VARCHAR(10) PRIMARY KEY,
    Username VARCHAR(50) NOT NULL UNIQUE,
    Password VARCHAR(255) NOT NULL,
    FullName NVARCHAR(100) NOT NULL,
    Phone VARCHAR(20),
    Email VARCHAR(100),
    Role VARCHAR(20) NOT NULL
        CHECK (Role IN ('OWNER', 'MANAGER', 'TENANT')),
    CreatedAt DATETIME DEFAULT GETDATE()
);

CREATE TABLE Rooms (
    RoomID VARCHAR(10) PRIMARY KEY,

    TypeRooms NVARCHAR(50) NOT NULL,

    Price DECIMAL(10,2) NOT NULL,

    Status VARCHAR(20) NOT NULL
        CHECK (Status IN ('AVAILABLE','OCCUPIED','MAINTENANCE')),

    Floor INT,

    Note NVARCHAR(255),

    ManagerID VARCHAR(10) NOT NULL,

    CONSTRAINT FK_Room_Manager
        FOREIGN KEY (ManagerID)
        REFERENCES Users(UserID)
);

CREATE TABLE RentalContracts (
    ContractID VARCHAR(10) PRIMARY KEY,

    UserID VARCHAR(10) NOT NULL,

    RoomID VARCHAR(10) NOT NULL,

    StartDate DATE NOT NULL,

    EndDate DATE,

    MonthlyRent DECIMAL(10,2) NOT NULL,

    Deposit DECIMAL(10,2) DEFAULT 0,

    Status VARCHAR(20)
        CHECK (Status IN ('ACTIVE','EXPIRED')),

    FOREIGN KEY (UserID)
        REFERENCES Users(UserID),

    FOREIGN KEY (RoomID)
        REFERENCES Rooms(RoomID)
);

CREATE TABLE MaintenanceHistory (
    MaintenanceID VARCHAR(10) PRIMARY KEY,

    RoomID VARCHAR(10) NOT NULL,

    Description NVARCHAR(255) NOT NULL,

    Cost DECIMAL(10,2),

    RepairDate DATE NOT NULL,

    CreatedBy VARCHAR(10),

    FOREIGN KEY (RoomID)
        REFERENCES Rooms(RoomID),

    FOREIGN KEY (CreatedBy)
        REFERENCES Users(UserID)
);